<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Foundation 5</title>

	<!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
	<link rel="stylesheet" href="bower_components/foundation/css/normalize.css">
	<link rel="stylesheet" href="bower_components/foundation/css/foundation.css">

	<link rel="stylesheet" href="css/app.css">

	<script src="bower_components/foundation/js/vendor/custom.modernizr.js"></script>

</head>
<body>
<div class="row">
	<ul class="breadcrumbs">
		<li><a href="#">Create</a></li>
		<li class="current"><a href="#">Thing</a></li>
	</ul>
	<h1>Create a <b>Thing</b></h1>
	<p>The most generic type of item.</p>
</div>
<form action="/">
	<div class="row">
		<div class="large-12 columns">
			<label>Input Label</label>
			<input type="text" placeholder="large-12.columns" />
		</div>
		<div class="large-4 columns">
			<label>Input Label</label>
			<input type="text" placeholder="large-4.columns" />
		</div>
		<div class="large-4 columns">
			<label>Input Label</label>
			<input type="text" placeholder="large-4.columns" />
		</div>
		<div class="large-4 columns">
			<div class="row collapse">
				<label>Input Label</label>
				<div class="small-9 columns">
					<input type="text" placeholder="small-9.columns" />
				</div>
				<div class="small-3 columns">
					<span class="postfix">.com</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<label>Select Box</label>
			<select>
				<option value="husker">Husker</option>
				<option value="starbuck">Starbuck</option>
				<option value="hotdog">Hot Dog</option>
				<option value="apollo">Apollo</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="large-6 columns">
			<label>Choose Your Favorite</label>
			<input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Radio 1</label>
			<input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Radio 2</label>
		</div>
		<div class="large-6 columns">
			<label>Check these out</label>
			<input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
			<input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<label>Textarea Label</label>
			<textarea placeholder="small-12.columns"></textarea>
		</div>
	</div>
</form>

	<script src="bower_components/foundation/js/vendor/jquery.js"></script>
	<script src="bower_components/foundation/js/vendor/fastclick.js"></script>
	<script src="bower_components/foundation/js/foundation.min.js"></script>
	<script src="schema.js"></script>
	<script>
		$(document).foundation();
	</script>
</body>
</html>
